<form method="POST" action="cv/generate" enctype="multipart/form-data">
    <input type="file" name="users" placeholder="Upload json file">
    {{!-- <input type="hidden" value="{{users}}" name="users" class="val"> --}}
    <button type="submit">Get ZIP</button>
</form>
<pre style="background-color: #001f3f; color: yellow">
  [
    {
      "email": "melany.wijngaard@example.com",
      "gender": "female",
      "phone_number": "(727)-033-9347",
      "birthdate": 608022796,
      "location": {
        "street": "2431 predikherenkerkhof",
        "city": "staphorst",
        "state": "gelderland",
        "postcode": 64265
      },
      "username": "bigpeacock217",
      "password": "eagle",
      "first_name": "melany",
      "last_name": "wijngaard",
      "title": "miss",
      "picture": "women/70.jpg"
    },
    ...
  ]
</pre>


